<div class="container">
  <h1>Tweet Ahora Uno - La Pasión del Pájaro Azul</h1>
  <p>La pasión del amor no correspondido... de Twitter.</p>
  <form id="tweet-form">
    <input type="text" name="tweet" class="textbox" id="tweet-input" placeholder="Tweet, por favor..." autofocus>
    <button id="submit-button">Tweet as devdandydanny</button>
    <p>Green: success, Red: error, Yellow: in-progress</p>
  </form>
</div>
